<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257706760907-9pge86f1mv2gra34vp4hdbsist7ccp1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257706760907-9pge86f1mv2gra34vp4hdbsist7ccp1e</string>
	<key>API_KEY</key>
	<string>AIzaSyA6t6XHehQI3S5GoJxE6YlamP_J9vqNpAI</string>
	<key>GCM_SENDER_ID</key>
	<string>257706760907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterFlavorTest.stg</string>
	<key>PROJECT_ID</key>
	<string>flutter-flavor-test-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flavor-test-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257706760907:ios:afeb2440b111d00e9b994e</string>
</dict>
</plist>