<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503532454405-m7nkbrn9v9v3tvk1isgmc585d1rnlafo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503532454405-m7nkbrn9v9v3tvk1isgmc585d1rnlafo</string>
	<key>API_KEY</key>
	<string>AIzaSyC5NQ3jsphMbxkw367oiLIosQyj4kMJaU8</string>
	<key>GCM_SENDER_ID</key>
	<string>503532454405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterFlavorTest.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-flavor-test-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flavor-test-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503532454405:ios:3af4c7a9d6727ace53526c</string>
</dict>
</plist>